<header>

  <nav>
    <h2 class="logo">Eat<span>ix</span></h2>
    <ul>
      <li><a routerLink="/homepage" routerLinkActive="active"><span itemprop="name">Homepage</span></a></li>
      <li><a routerLink="/about" routerLinkActive="active"><span itemprop="name">About us</span></a></li>
      <li><a routerLink="/contact" routerLinkActive="active"><span itemprop="name">Contact us</span></a></li>

      <li><a routerLink="/admin" routerLinkActive="active"><span itemprop="name">Info stores</span></a></li>
      <li><a routerLink="/admin-user" routerLinkActive="active"><span itemprop="name">Info users</span></a></li>
      <li><a routerLink="/store" routerLinkActive="active"><span itemprop="name">Info</span></a></li>


    </ul>

    <a class="btn"> Sign in</a>
  </nav>

</header>
<router-outlet></router-outlet>
