* {
  margin: 0;
  padding: 0;
}

header{
  background: lightgreen;
}
nav{
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding: 30px 8%;

}
.logo{

  color:darkgreen;
  font-size:35px;
  letter-spacing:1px;
  cursor:pointer;


}

span{
  color:black;

}

nav ul li{
  list-style-display: none;
  display:inline-block;
  padding: 10px 25px;

}
nav ul li a {

  color:darkgreen;
  text-decoration:none;
  font-weight:bold;
  text-transforms:capitalize;

}

nav ul li a:hover{

  color:black;
  transition: .4s;

}
.btn{
  background-color:white;
  color:darkgreen;
  text-decoration:none;
  border: 2px solid transparent;
  font-weight:bold;
  padding :10px 25px;
  border-radius:30px;
  transition:transform .4s;


}

.btn:hover{

  transform:scale(1.2);
}

.content{
  position:absolute;
  top:50%;
  left:8%;
  transforms: translateY(-50%);

}
