* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, sans-serif;
}

footer {
  background-color: darkgreen;
}
footer p{
  text-decoration: none;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}
