<section class="about">
  <h1>Our Story</h1>
  <div class=" main">
    <div class="about-text">
      <br><p>We are a web app that provides an easy way to share information about food with an expiration date which is on sale by allowing users to search through popular deals or see what their local grocery stores have to offer. Save the world, one due to expire chocolate at a time!</p>
      <button class="button" routerLink="/contact" routerLinkActive="active" type="button">Contact us</button>
      <img src="https://images.pexels.com/photos/2382894/pexels-photo-2382894.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">

    </div>

  </div>
</section>
