<section class="about">
  <div class=" main">
    <img src="https://buykitchenstuff.com/blg/bks/user_img/20211119/1637348080703169.webp">;

    <div class="about-text">
      <h2>ABOUT US</h2>
      <h5>The best app for <span>preventing food waste</span></h5>
      <p>Eatix is a mobile app that provides an easy way to share information about food with an expiration date which is on sale by allowing users to search through popular deals or see what their local grocery stores have to offer.</p>
      <button routerLink="/contact" routerLinkActive="active" type="button">Contact us</button>
    </div>
  </div>
</section>
