@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
*{
  font-family: 'Open Sans Condensed', sans-serif;
}

.about{
  width:100%;
}

h1{
  color:darkgreen;
  font-size:50px;
  text-align:center;
  letter-spacing:2px;
}

.text{
  width:550px;
}


.main{
  width:1130px;
  max-width:95%;
  margin:0 auto;
  display:flex;
  align-items:center;
  justify-content:space-around;

}
hr{
  width:100%;
  margin-left:-15px;
  border-radius:2px;
  background-color:	darkgrey;
  border:none;
  height:1px;
}

.text h2{
  color:darkgrey;
  font-size:40px;
  text-transform:capitalize;
  margin-bottom:20px;
  letter-spacing:2px;

}

p{
  font-size:24px;
  text-align:center;
  letter-spacing:2px;
  color:darkgrey;
}

a{
  color:darkgreen;

}
text{
  color:darkgreen;
  letter-spacing:1px;
  line-height:28px;
  font-size:18px;
  margin-bottom:45px;


}


button{
  letter-spacing:2px;
  background-color:white;
  color:#3CB371;
  text-decoration:none;
  border: 1px solid #3CB371;
  font-weight:bold;
  padding-top:10px;
  padding-bottom:10px;
  padding-right:50px;
  padding-left:50px;
  border-radius:3px;
  transition: .4s;
  margin-left:170px;
  margin-top:50px;

}

button:hover{
  color:white;
  background-color:#3CB371;
  border: 1px solid white;
  cursor:pointer;
  border-radius:2px;

}

