<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="about">
  <div class=" main">
    <div class="text">

      <h1>We Are Here For You</h1>
      <br>
      <p><a href="#" style="text-decoration: none;" class="fa fa-linkedin"></a> Eatix App</p><hr>
      <p> <a href="#" style="text-decoration: none;" class="fa fa-facebook"></a> Eatix App</p><hr>
      <p> <a href="#" style="text-decoration: none;" class="fa fa-instagram"></a> eatix.ba </p><hr>
      <p><a href="#" style="text-decoration: none;" class="fa fa-whatsapp"></a> +387 33 258 639</p><hr>
      <p><a href="#" style="text-decoration: none;" class="fa fa-twitter"></a> @eatix</p><hr>
      <p><a href="#" style="text-decoration: none;" class="fa fa-github"></a> EatixApp</p><hr>
      <button type="button">Send us an Email</button>

    </div>
  </div>
</section>

