* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, sans-serif;
}
.full {
  margin: 0 auto;
  width: 1100px;
}
footer {
  background-color: dodgerblue;
  margin-top: 10px;
}
footer p{
  text-decoration: none;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}
