@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
*{
  font-family: 'Open Sans Condensed', sans-serif;
}
.hero{
  color:#3CB371 ;
  background-color:white;
  width:98%;
  margin-left:14px;
  padding-bottom:300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display:flex;
  align-items:center;
  justify-content:center;
}

body{
  margin-bottom:-450px;
}

img{
  max-height:120px;
  margin-left:50px;
}

h3{
  font-size:30px;
  letter-spacing:2px;
}

.content{
  margin-top:50px;
}

h1{
  font-size:100px;
  letter-spacing:10px;
  color:#3c5148;
  margin-left:200px;
  margin-top:0;
  margin-bottom:-20px;
}

span {
  color: #3CB371;
  letter-spacing:4px;}


hr{
  width:70%;
  margin:auto;
  border-radius:2px;
  background-color:  white;
  border:none;
  height:1px;
}

.newslatter{
  margin-top:40px;
}

.btn{
  background-color:white;
  color:#3CB371;
  text-decoration:none;
  border: 1px solid #3CB371;
  font-weight:bold;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:50px;
  padding-left:50px;
  border-radius:3px;
  transition: .4s;
  margin-left:45px;
}

.btn:hover{
  color:white;
  background-color:#3CB371;
  border: 1px solid white;
  cursor:pointer;
  border-radius:2px;

}

.btn2{
  background-color:white;
  color:#3CB371;
  text-decoration:none;
  border: 1px solid #3CB371;
  font-weight:bold;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:50px;
  padding-left:50px;
  border-radius:3px;
  transition: .4s;
  margin-left:70px;
}

.btn2:hover{
  color:white;
  background-color:#3CB371;
  border: 1px solid white;
  cursor:pointer;
  border-radius:2px;

}
