
<body>
<div class ="main">
  <h1>Dodaj novi proizvod</h1>
  <div class="addItem">
  <input placeholder="Naziv atrikla" type="text" [(ngModel)]="name" class="addText">
    <input placeholder="Datum artikla" type="text" [(ngModel)]="proizvod" class="addText">
    <input placeholder="Cijena artikla" type="text" [(ngModel)]="cijena" class="addText">
    <p>{{name}}</p>
    <p>{{proizvod}}</p>
    <p>{{cijena}}</p>

  <button>Dodaj</button>

</div>


  <ul>

    <li>Dodani proizvod

      <span>x</span>
    </li>



  </ul>
</div>







</body>



