<div class = "hero">
  <div id="sign-in">
<div class="sign-in-form">
  <h1>Please sign in</h1>
  <form (submit)="handleFormSubmit()" [formGroup]="form!">
    <input matInput type="email" class="input-box" placeholder="email"
           required minlength="3" maxlength="20">


    <input matInput type="password" class="input-box" placeholder="password"
           required minlength="8">

    <div>
    <button type="button" class="sign-btn" routerLink="/homepage">Sign in</button></div>
  </form>
</div>
  </div>
</div>
