.border{
  padding: 10px;
}
.btn{
  margin-right: 10px;
}
.fa {
  margin-right: 10px;
}

table .btn{
  margin: 2px;
}


table .r{
  padding: 10px;
  margin-left: 100px;
}
.tablehead{
  margin-left: 100px;
  margin-top: 80px;
  background-color: #3CB371;
  color: white;
}
.table{
  margin-left: 100px;
}
.head{
  padding: 10px;
  margin-left: 100px;
}

.h{
  margin-right: 50px;
}
.id{
  margin-left: 60px;
}
#id{
  margin-left: 60px;
}

button{
  background-color: red;
  color: white;
  margin-left: 100px;
}
