
form input {
    margin: 5px 10px;
    border: 2px solid #501F32;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    height: 30px;
}
form input:focus {
    outline: none;
    border-color: #0090c5;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
form label {
    margin-bottom: 5px;
    display: inline-block;
}
form div {
    margin: 10px;
}
form fieldset div p{
    font-size: 13px;
}

#second {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #501F32;
    color: white;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: none;
}
#second:hover {
    cursor: pointer;
}
