<ng-container *ngIf="stores && stores.length > 0; else emptyList">
<div class="container" *ngFor="let store of stores">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name of the store</th>
      <th>Email</th>
      <th>Address</th>
      <th>City</th>
      <th>Phone number</th>
      <th>Registration ID</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><span><mat-icon>{{getStoreId(store)}}</mat-icon> {{store.id}}</span></td>
      <td><span><mat-icon>{{getStoreName(store)}}</mat-icon> {{store.name}}</span></td>
      <td><span><mat-icon>{{getStoreEmail(store)}}</mat-icon> {{store.email}}</span></td>
      <td><span><mat-icon>{{getStoreAddress(store)}}</mat-icon> {{store.address}}</span></td>
      <td><span><mat-icon>{{getStoreCity(store)}}</mat-icon> {{store.city}}</span></td>
      <td><span><mat-icon>{{getStorePhoneNumber(store)}}</mat-icon> {{store.phoneNumber}}</span></td>
      <td><span><mat-icon>{{getStoreRegistrationID(store)}}</mat-icon> {{store.registrationId}}</span></td>
      <td><span><button mat-button color="warn"
                        type="button"
                        class="remove-button"
                        (click)="remove(store)">Delete</button></span></td>

    </tr>
    </tbody>
  </table>
      <hr/>

</div>
</ng-container>

<ng-template #emptyList>
  <div>
    <h3>There are no stores.</h3>
  </div>
</ng-template>
