
<ng-container *ngIf="users && users.length > 0; else emptyList">
  <div class="container" *ngFor="let user of users">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Address</th>
        <th>City</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><span><mat-icon>{{getUserId(user)}}</mat-icon> {{user.id}}</span></td>
        <td><span><mat-icon>{{getUserName(user)}}</mat-icon> {{user.name}}</span></td>
        <td><span><mat-icon>{{getUserSurname(user)}}</mat-icon> {{user.surname}}</span></td>
        <td><span><mat-icon>{{getUserEmail(user)}}</mat-icon> {{user.email}}</span></td>
        <td><span><mat-icon>{{getUserAddress(user)}}</mat-icon> {{user.address}}</span></td>
        <td><span><mat-icon>{{getUserCity(user)}}</mat-icon> {{user.city}}</span></td>
        <td><span><button mat-button color="warn"
                          class="remove-button"
                          *ngIf="removeAllowed"
                          (click)="remove(user)">Delete</button></span></td>

      </tr>
      </tbody>
    </table>
    <hr/>

  </div>
</ng-container>

<ng-template #emptyList>
  <div>
    <h3>There are no users.</h3>
  </div>
</ng-template>
