.border{
  padding: 10px;
}
.btn{
  margin-right: 10px;
}
.fa {
  margin-right: 10px;
}

table .btn{
  margin: 2px;
}

table th, td{
  padding: 10px;
}

table tr th{
  background-color: darkgreen;
  color: white;
}
button{
  background-color: red;
  color: white;
}
.addItem{
  margin-bottom: 20px;
  background-color: dodgerblue;
}
