<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<form [formGroup]="form" (ngSubmit)="submit()" >

<div class="readersack">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <br><br> <h3>Sign up as store</h3>

          <div class="form-group">
            <p>Name of the store</p>
            <input type="text" class="form-control" id="name"
                   [formControlName]="storeProperty.name"  name="name">

            <br> <p>Password </p>
            <input type="text" class="form-control" id="password" [formControlName]="storeProperty.password" name="password">

            <br> <p>Confirm Password </p>
            <input type="text" class="form-control" id="confirm password" [formControlName]="storeProperty.confirmPassword" name="confirm password">

            <br> <p>Address </p>
            <input type="text" class="form-control" id="address" [formControlName]="storeProperty.address" name="address">

            <br> <p>Phone number </p>
            <input type="text" class="form-control" id="phone number" [formControlName]="storeProperty.phoneNumber" name="phone number">

            <br> <p>City </p>
            <input type="text" class="form-control" id="city" [formControlName]="storeProperty.city" name="city">

            <br> <p>Registration ID </p>
            <input type="text" class="form-control" id="registration id" [formControlName]="storeProperty.registrationId" name="registration id">

            <br> <br> <div class="form-group">
            <button (click)="submit()" class="btn btn-success" [disabled]="!form.valid">Submit</button> </div>
          </div>
      </div>
    </div>
  </div>
</div>
</form>
