<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer>

  <div class="title">  <p> Eatix </p> </div>
  <hr>
  <div class="footeralignment">

    <div class="footerComponent1">
      <ul>
        <li>Privacy Policy</li>
        <li>Terms of Use</li>
        <li>CopyRight <span>&copy;</span></li>
      </ul>
    </div>

    <div class="footerComponent2">
      <ul>
        <li>eatix@business.com</li>
        <li>+(387) 202-555-016</li>
        <li>Bulevar 40 A</li>
      </ul></div>
  </div>
  <div class="footerIcons">
    <a href="#" style="text-decoration: none;" class="fa fa-facebook"></a>
    <a href="#" style="text-decoration: none;" class="fa fa-twitter"></a>
    <a href="#" style="text-decoration: none;" class="fa fa-linkedin"></a>
    <a href="#" style="text-decoration: none;" class="fa fa-instagram"></a>
    <a href="#" style="text-decoration: none;" class="fa fa-whatsapp"></a>
    <a href="#" style="text-decoration: none;" class="fa fa-github"></a>
  </div>

</footer>
