.border{
  padding: 10px;
}
.btn{
  margin-right: 10px;
}
.fa {
  margin-right: 10px;
}

table .btn{
  margin: 2px;
}


table .r{
  padding: 10px;
  margin-left: 50px;
}
.tablehead{
  margin-left: 100px;
  margin-top: 80px;
  background-color: #3CB371;
  color: white;
}
.table{
  margin-left: 100px;
}
 .head{
  padding: 10px;
  margin-left: 50px;
}
 .h{
   margin-right: 30px;
 }
button{
  background-color: red;
  color: white;
  margin-left: 50px;
}
.addItem{
  margin-bottom: 20px;
  background-color: dodgerblue;
  margin-left: 30px;
  margin-top: 10px;
}
